# Daftar library yang diperlukan untuk Malware Analyst Tools

# Library GUI
tkinter

# Library untuk analisis PE (EXE/DLL)
pefile

# Library untuk analisis gambar
Pillow

# Library untuk membaca/menganalisis PDF
PyPDF2

# Library untuk membaca/menganalisis DOCX
python-docx

# Library untuk disassembly kode biner
capstone

# Library matematika tambahan (untuk perhitungan entropi)
math